/**********************************************************************/
/***************************** CSS Grid  *****************************/
/**********************************************************************/

.grid-nav {
    display: grid;
    grid-template-areas: 'nav-menu nav-logo nav-account';
    height: 10vh;
    text-align: center;
}

.grid-nav .nav-menu {
    grid-area: nav-menu;
}

.grid-nav .nav-logo {
    grid-area: nav-logo;
}

.grid-nav .nav-account {
    grid-area: nav-account;
}


/**********************************************************************/
/******************************* Fonts  *******************************/
/**********************************************************************/

.grid-nav {
    text-align: center;
}


/**********************************************************************/
/************************** Width && Height  **************************/
/**********************************************************************/

.grid-nav {
    height: 10vh;
}

.nav-logo img {
    width: 50vw;
}

.grid-nav svg {
    width: 7vw;
    fill: grey;
}


/**********************************************************************/
/************************ Background && Color  ************************/
/**********************************************************************/

.grid-nav svg {
    fill: grey;
}